/*
  Desenvolvido por Sitefy, serviço expresso de 
  desenvolvimento, manutenção e suporte de websites.

  www.sitefy.com.br / suporte@sitefy.com.br / 19 99329-2025
*/

body {
  background: #F9F9F9;
  font-family: 'PT Sans', Arial, Sans-serif
}

/* Bootstrap grid centering */
.row-centered { text-align: center }
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin: 40px 0 0 -4px
}
.list-centered {
	text-align: center;
	list-style: none;
	margin: 40px 0 20px 0;
	padding: 0
}
.list-centered li:first-child { margin: 20px 0 10px 0 }
.list-centered li { margin: 15px 0 }
.list-centered h1 {
	font-size: 1.7em;
}
.list-centered a {
	font-size: 1.5em;
	color: #222;
	border-bottom: 1px solid #ccc;
	transition: 0.3s;
}
.list-centered a:hover {
	text-decoration: none;
	border-bottom: 1px solid #ff823d;
}

/* Form styles */
form {
	border: 1px solid #DDD;
	background: #FFF;
	padding: 20px;
	border-radius: 10px;
	margin: 40px 0
}
input, textarea, button { padding: 10px 10px 6px !important }

/* Button styles */
.btn-primary {
	background: #ff823d;
	border: 1px solid #D86736;
	transition: 0.3s;
}
.btn-primary:hover,
.btn-primary:focus {
	background: #D86736;
	border: 1px solid #D86736;
}

/* Mail box styles */
.mail {
  position: relative;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #FFF
}
.mail-ok {
  background: #DE823A;
  border-bottom: 3px solid #D86736;
  text-shadow: 2px 2px 2px #D86736
}
.mail-err {
  background: #D86736;
  border-bottom: 3px solid #D84136;
  text-shadow: 2px 2px 2px #D84136
}

/* Custom fonts */
@font-face {
	font-family: 'Conv_EurostileLTStd';
	src: url('../fonts/EurostileLTStd/EurostileLTStd.eot');
	src: local('â˜º'), url('../fonts/EurostileLTStd/EurostileLTStd.woff') format('woff'), url('../fonts/EurostileLTStd/EurostileLTStd.ttf') format('truetype'), url('../fonts/EurostileLTStd/EurostileLTStd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
